<?xml version='1.0' encoding='utf-8'?>
<plugin id="info.androidsk.plugins.custon" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>addition</name><js-module name="addition" src="www/addition.js"><clobbers target="cordova.plugins.addition" /></js-module><platform name="android"><config-file parent="/*" target="res/xml/config.xml"><feature name="addition"><param name="android-package" value="info.androidsk.plugins.custon.addition" /></feature></config-file><config-file parent="/*" target="AndroidManifest.xml"></config-file><source-file src="src/android/addition.java" target-dir="src/info/androidsk/plugins/custon/addition" /></platform></plugin>