<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 <div>
   <div>
     <ion-row>
       <ion-col><button style="width:100%; height:80px;" (click)="scanBarcode()">scan</button></ion-col>
     </ion-row>
     <ion-row>
      <ion-col><input value="{{this.devicewidth}}" #localwidth placeholder="width" /></ion-col>
      <ion-col><input value="{{this.deviceheight}}" #localheight placeholder="height" /></ion-col>
     </ion-row>
     <ion-row>
      <ion-col><button style="width:100%; height:80px;" (click)="camerapage(localwidth.value,localheight.value)">camera</button></ion-col>
     </ion-row>
     <!-- <ion-row>
      <ion-col><button style="width:100%; height:80px;" (click)="photosize(localwidth.value,localheight.value)">photosize</button></ion-col>
     </ion-row>
     <ion-row>
      <ion-col><button style="width:100%; height:80px;" (click)="imagecapture(localwidth.value,localheight.value)">imagecapture</button></ion-col>
     </ion-row>
     <ion-row>
      <ion-col><button style="width:100%; height:80px;" (click)="newimagecapture(localwidth.value,localheight.value)">newimagecapture</button></ion-col>
     </ion-row>
     <ion-row>
      <ion-col><button style="width:100%; height:80px;" (click)="cropinjs(localwidth.value,localheight.value)">cropinjs</button></ion-col>
     </ion-row>
     <ion-row>
      <ion-col><button style="width:100%; height:80px;" (click)="framingimg()">framingimg</button></ion-col>
     </ion-row>
     <ion-row>
      <ion-col><button style="width:100%; height:80px;" (click)="screenshot()">screenshot</button></ion-col>
     </ion-row> -->
     <ion-row>
      <ion-col><button style="width:100%; height:80px;" (click)="jsfiddle()">capture and crop</button></ion-col>
     </ion-row>
    
     
   </div>
   <div>
     {{this.scannedData}}
   </div>
   <div>
     {{this.encodedData}}
   </div>
   <div>
     {{this.data}}
   </div>
 </div>
</ion-content>
